.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.header {
  position: relative;
  background-color: #1C1A19;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login__container {
  display: flex;
  
}

.side-logo {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
  width: 485px;
}

.login__form {
  height: 100vh;
    background: url("./img/mapBackground.png") no-repeat 100% 100% / cover;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.form__input {
  width: 100%;
}


.form__group {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.form__label {
  margin-bottom: 10px;
}

.login__forgot {
  align-self: flex-end;
margin-bottom: 46px;
color: #828282;
}

.login__new {
  display: flex;
  justify-content: center;
  color: #828282;
}

.subtitle {
  margin-right: 5px;
}

.header {
position: relative;
}

.header__topline {
  height: 102px;
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1A19;
    padding: 0px 50px 0px 27px;
}
.header__links {
  display: flex;
  justify-content: space-between;
}

.header__link {
margin-right: 15px;
}

.header__link:last-child {
  margin-right: 0;
  }

  
  .map-wrapper {
      width: 100%;
      height: 100vh;
  }
  
.mapboxgl-ctrl {
  display: none;
}

.login__paper {
  
  width: 580px;
  height: 541px;
}

.profile__form {
  height: 100vh;
  background: url("./img/mapBackground.png") no-repeat 100% 100% / cover;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__paper {

  width: 888px;
  height: 588px;
}
