.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.header {
  position: relative;
  background-color: #1C1A19;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login__container {
  display: flex;
  
}

.side-logo {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
  width: 485px;
}

.login__form {
  height: 100vh;
    background: url("./img/mapBackground.png") no-repeat 100% 100% / cover;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.form__input {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
}


.form__group {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.form__label {
  margin-bottom: 10px;
}

.login__forgot {
  align-self: flex-end;
margin-bottom: 46px;
color: #828282;
}

.login__new {
  display: flex;
  justify-content: center;
  color: #828282;
}

.subtitle {
  margin-right: 5px;
}

.header {
position: relative;
z-index: 10000;
}

.header__topline {
  height: 102px;
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1A19;
    padding: 0px 50px 0px 27px;
}
.header__links {
  display: flex;
  justify-content: space-between;
}

.header__link {
margin-right: 15px;
}

.header__link:last-child {
  margin-right: 0;
  }

  
  .map-wrapper {
      width: 100%;
      height: 100vh;
  }
  
.mapboxgl-ctrl {
  display: none;
}

.login__paper {
  padding: 56px 73px;
  width: 580px;
  height: 541px;
}

.profile__form {
  height: 100vh;
  background: url("./img/mapBackground.png") no-repeat 100% 100% / cover;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__paper {
  padding: 56px 73px;
  width: 888px;
  height: 588px;
}


.order {
  z-index: 10000;
  position: relative;
    width: 486px;
    height: 471px;
    margin-top: 59px;
    margin-left: 59px;
}

.order__top {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.order__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 46px 32px;
}

.order__choice {
  display: flex;
  margin-bottom: 30px;
}

.order__option:last-child{
  margin-right: 0;
}

.order__option {
  padding: 11px;
  margin-right: 20px;
  width: 106px;
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.order__name{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.order__cost {
  font-size: 11px;
  color: #828282;
  margin-bottom: 1px;
}

.order__price {
font-size: 24px;
font-weight: 400;
margin-bottom: 13px;
}

.f24 {
  font-size: 24px;
}

.order__car {
  background-image: url("./img/car1.png");
  width: 95px;
  height: 73px;
  align-self: center;
}
.order__car2 {
  background-image: url("./img/car2.png");
  width: 118px;
  height: 81px;
  align-self: center;
}
.order__car3 {
  background-image: url("./img/car3.png");
  width: 100px;
  height: 64px;
  align-self: center;
  margin-top: 6px;
}

.order__wrapper {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
}

.order__icon {
  width: 14px;
  height: 16px;
  margin-right: 16px;
}


.order__input {
  height: 60px;
  
}

.order__controls {
  display: inline-flex;
  align-items: center;
}

.order__cross {
  border-right: 1px solid #E0E0E0;
  margin-right: 11px;
  padding-right: 11px;
}


.order__tick {
  margin-bottom: 3px;
}

.registration__paper {
padding: 72px 113px;
}